<%- include('../includes/start.ejs') %>
<body>
    <%- include('../includes/menu.ejs') %>
    <form action="/auth/reset" method="post">
        <% if(message){ %>
        <h4 class="message"><%= message %></h4>
        <% } %>
        <input type="hidden" name="_csrf" value="<%=  csrfToken %>"/>
        <h3><%=  pageTitle %></h3>
        <input type="email" name="email" placeHolder="email"/>
        <button type="submit">reset password</button>
    </form>
</body>
</html>

