<%- include('./includes/start.ejs') %>
<body>
    <%- include('./includes/menu.ejs') %>
    <%   if(products.length == 0){   %>
    <h1>Cart Is Empty</h1>
    <%  } else {  %>
    <ul>
        <%  products.forEach(product => {  %>
        <li><%=  product.title  %>: <%=  product.count  %> |
            <a href="/cart/remove/<%= product._id%>" >❌</a>
            <a href="/cart/increase/<%= product._id%>" >➕</a>
            <a href="/cart/decrease/<%= product._id%>" >➖</a>
        </li>
        <%  })  %>
        <li>
            <form action="/order/create" method="post" style="display:flex">
                <textarea name="address" placeHolder="address" required></textarea>
                <button type="submit">create order</button>
            </form>
        </li>
    </ul>
    <%  }  %>
</body>
</html>