<%- include('./includes/start.ejs') %>
<body>
    <%- include('./includes/menu.ejs')%>
    <%   if(orders.length ===0){  %>
    <h1>not any order found 😨</h1>
    <%  } else {  %>
    <%   orders.forEach(order => {  %>
    <ul>
        <li class="listHeader"> #<%=  order._id %> | <%=  order.date %> </li>
        <%  order.products.forEach(p => { %>
        <li><%=  p.product.title %> | <%=  p.product.price %> : <%= p.count %></li>
        <% }) %>
        <li class="listFooter"> 💲 <%=  order.total %> </li>
    </ul>
    <%  })  %>
    <%  }  %>
</body>
</html>