<%- include('./includes/start.ejs')%>
<body>
<%- include('./includes/menu.ejs')%>
    <ul>
        <li><img src="/product/image/<%= product.image %>"/></li>
        <li><%= product._id%></li>
        <li><%= product.title%></li>
        <li><%= product.price%></li>
    </ul>
</body>
</html>