<%- include('./includes/start.ejs') %>
<body>
    <%- include('./includes/menu.ejs') %>
    <%      if(products.length == 0){      %>

    <h1>product list is empty</h1>

    <%      }  else {    %>
    <ul>
        <%     products.forEach(product => {     %>
        <li>
            <img src="/product/image/<%= product.image %>"/>
            <%=    product.title    %> | <%=    product.price    %>
            <%if(loggedIn){%>
            <% if(canModify) {%>
            <a href="/product/edit/<%=  product._id  %>">Edit</a>
                <input type="hidden" name="_csrf" value="<%= csrfToken%>"/>
                <input type="hidden" name="id" value="<%=  product._id  %>"/>
                <button type="button" id="deleteProduct">Delete</button>
            <%}%>
            <form action="/cart/add" method="post">
                <input type="hidden" name="_csrf" value="<%= csrfToken%>"/>
                <input type="hidden" name="id" value="<%=  product._id  %>"/>
                <button type="submit">Add To Cart</button>
            </form>
            <%}%>
            <a href="/product/detail/<%= product._id%>"> Detail </a>
        </li>
        <%     })     %>
    </ul>

    <div class="pagination">
        <%if(havePrev){%>
        <a href="?page=<%= prev%>">prev</a>
        <%}%>
        <%=page%>/<%=total%>
        <%if(haveNext){%>
        <a href="?page=<%= next%>">next</a>
        <%}%>
    </div>

    <%     }     %>
    <script src="/js/product.js"></script>
</body>
</html>