<%- include('./includes/start.ejs') %>
<body>
    <%- include('./includes/menu.ejs') %>
    <%      if(products.length == 0){      %>

    <h1>product list is empty</h1>

    <%      }  else {    %>
    <ul>
        <%     products.forEach(product => {     %>
        <li> <%=    product.title    %> | <%=    product.price    %>
            <%if(loggedIn){%>
            <a href="/product/edit/<%=  product._id  %>">Edit</a>
            <form action="/product/delete" method="post">
                <input type="hidden" name="id" value="<%=  product._id  %>"/>
                <button type="submit">Delete</button>
            </form>
            <form action="/cart/add" method="post">
                <input type="hidden" name="id" value="<%=  product._id  %>"/>
                <button type="submit">Add To Cart</button>
            </form>
            <a href="/product/detail/<%= product._id%>"> Detail </a>
            <%}%>
        </li>
        <%     })     %>
    </ul>
    <%     }     %>
</body>
</html>